body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.548);
}

input {
    border: none;
}

header > h1 , header > p{
    color: #85AB7F;
    text-shadow: 2px 2px #1a3717;
    font-size: 2.5rem;
}

header > p {
    font-size: 1.5rem;
    width: 45%;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #85A840;
    overflow: hidden;
    background-color: #1A3717;
    width: 100%;
    height: 44px;
    top: 0;
}

#logout{
    background-color: #1A3717;
    color: #85A840;
    border: none;
}
#logout:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

nav li {
    float: left;
    list-style: none;
}

nav a, nav button {
    display: block;
    color: #85A840;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav button {
    float: right
}

nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    transition: 1s;
}

h1 {
    margin: 0;
}
.titulo {
    text-align: center;
    background-color: #85AB7F;
    height: 2rem;
    padding: 1vh;
}

.cabecalho{
    display: flex;
    justify-content: space-evenly;
}

/*Main */

form {
    border: solid 1px #85A840;
    border-radius: 20px;
    background-color: #85AB7F;
}

button {
    margin-bottom: 10px;
    width: auto;
    margin-right: 25px;
}

ol {
    list-style: none;
    padding: 0;
}

.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
    position: fixed;
    bottom: 32px;
    right: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

/*Estilo do formulario*/

.estiloform {
    border-radius: 15px 15px 0 0 ;
    background-color: white;
    width: 60rem;

}

.titlel {
    border-radius: 15px 15px 0 0 ;
    display: flex;
    font-size: 1.4rem;
    padding: 1.3rem 0 1.3rem 2rem;
    background-color: #1A3717;
    color: #85A840;
}

.titlel input {
   border-radius: 10px;
   width: 450px;
   margin: 0 10px;
}

.title {
    margin: 10px 2rem;
    font-size: 10px;
}

.title input {
    display: none;
}

.descricao {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.4rem;
}

#title {
    outline: none;
    padding: 0 0 0 10px;
    text-transform: capitalize;
}

.descricao textarea {
    min-width: 99%;
    max-width: 99%;
    max-height: 15rem;
    min-height: 15rem;
    border: solid 1px #85A840;
    border-radius: 5px;
    resize: none;
}

#description {
    padding: 10px;
    text-transform: capitalize;
}

#description:focus {
    outline: none;
    border: 1px solid #4a5e22; 
}

.areaartigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 710px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.areaartigo > div {
    flex: 1;
    margin: 0 60px 0 0;
}

select {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
}

.artigo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-items: flex-start;
}

.artigo > div {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

.artigo input {
    margin-right: 10px;
}

.artigo label {
    margin-left: 15px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

button:hover {
    background-color: #07c20d;
    transition: 1s;
}

button[disabled] {
    background-color: #A9A9A9;
    cursor: not-allowed;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}