body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header > h1 , header > p{
    color: #85AB7F;
    text-shadow: 2px 2px #1a3717;
    font-size: 2.5rem;
    text-align: center;
}

header > p {
    font-size: 1.5rem;
    width: 45%;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #85A840;
    overflow: hidden;
    background-color: #1A3717;
    width: 100%;
    top: 0;
}

#logout{
    background-color: #1A3717;
    color: #85A840;
    border: none;
}
#logout:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

nav li {
    float: left;
    list-style: none;
}

nav a, nav button {
    display: block;
    color: #85A840;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav button {
    float: right
}

nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    transition: 1s;
}

h1 {
    margin: 0;
    color: #a6e69e;
    text-shadow: 2px 2px #223021;
}
.titulo {
    text-align: center;
    background-color: #85AB7F;
    height: 2rem;
    padding: 1vh;
    
}

.cabecalho{
    display: flex;
    justify-content: space-evenly;
}

/*Artigo*/

#main-articles {
    width: 100%;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.Artigo, .Questão, .Dica{
    width: 80%;
    padding: 0;
    margin: 0;
    border: #b2caad 2px solid;
    margin-top: 5rem;
    box-shadow: 1vh 1vh 1vh #cfd1cc;
    border-radius: 10px;
}


.mainbar {
    display: flex;
    background-color: #85AB7F;
}

.mainbar p {
    margin-right: 10%;
    font-size: 1rem;
    font-weight: 550;
}

.Artigo h2, .Questão h2, .Dica h2{
    width: 80%;
    margin-left: 10%;
    padding: 0;
    font-size: 1.2rem;
}

.Artigo p, .Questão p, .Dica p{
    text-align: center;
}

.Artigo button {
    margin-left: 90%;
    margin-top: 4%;
}

#addarticle {
    background-color: #C7D9C4;
    cursor: pointer;
    border-radius: 10px;
    font-size: 2rem;
    
    margin-top: 1rem;
    position: absolute;
    right: 10%;
}

.addarticle {
    width: 100%;  
}

.desc {
    max-height: 30vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    scrollbar-color: green transparent;
    padding-right: 2%;
    /* Para Microsoft Edge */
    scrollbar-track-color: green;
}

.desc::-webkit-scrollbar {
    width: 0.5vw;
    
}

.desc::-webkit-scrollbar-thumb {
    background-color: rgba(0, 128, 0, 0.452);
    border-radius: 6px;
    
}

.desc::-webkit-scrollbar-track {
    background-color: transparent;
    
}

.pin {
    display: flex;
    justify-content: space-around;
}

.docArea, .docType {
    background-color: #85A840;
    color: aliceblue;
    font-weight: bolder;
    padding: 0.4%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}