body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

main {
    flex-grow: 1;
    padding-bottom: 30px;
}

.error{
    color: red;
    display: none;
}

header {
    color: #85A840;
    padding: 20px;
    margin: 0;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/banner.jpg);
}



footer {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    bottom: 0;
}

.footerdiv {
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #85AB7F;
    padding-top: 0.001%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-verde {
    height: 4vh;
    background-color: #1A3717;
}

.outline {
    width: 6%;
    border-radius: 20px;
    padding: 0.7vh;
    background-color: rgba(214, 52, 52, 0.795);
    font-weight: bolder;
    cursor: pointer;
}