@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.headerdiv {
    width: 100%;
    height: 80px;
    background-color: #1A3717;
    padding-top: 2%;
}

.headerdiv h1 {
    margin: 0;
    color: white;
}


footer {
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    position: fixed;
    bottom: 0;
}

.footerdiv {
    width: 100%;
    height: 60px;
    background-color: #85AB7F;
    padding-top: 0.001%;
}

main{
    flex: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 100%;
    margin: 2.78rem 0 2.78rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#authForm{
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
    display: none;
    margin: 20px 0 0 10px;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.loading label{
    font-size: 2rem;
}

fieldset {
    border: solid 2px black;
    border-radius: 10px 10px 0 0;
    padding: 0;
    width: 30rem;
}

form {
    background-color: #C7D9C4;
    border-radius: 10px 10px 0 0;
}

form h2 {
    text-align: center;
    font-size: 40px;
    color: #1A3717;
    font-family: 'Lato', sans-serif;
}

.h2div {
    border-radius: 10px 10px 0 0;
    background-color: #85AB7F;
    border-bottom: solid 1px rgba(0, 0, 0, 0.044);
}

.emaildiv {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.emaildiv label {
    margin: 3rem 0 1rem 10px;
    font-size: 2rem;
    order: -1;
}

.emaildiv input {
    padding: 0.8rem;
    font-size: 1.6rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    border: rgba(255, 255, 255, 0.5);
}

input[type="email"]::placeholder {
    padding-left: 15px;
}

.senhadiv {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.senhadiv label {
    margin: 0 0 5px 10px;
    font-size: 2rem;
    order: -1;
}

.senhadiv input {
    padding: 0.8rem;
    font-size: 1.6rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
    border: rgba(255, 255, 255, 0.5);
}

input[type="password"]::placeholder {
    padding-left: 15px;
}

.botoesdiv {
    text-align: center;
}

.recsenha {
    text-align: right;
    margin-right: 20px;
}

.recsenha button {
    background-color: rgba(32, 65, 32, 0.6);
    color: rgb(255, 255, 255);
    border: 0;
    margin-top: 1rem;
    box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}

#recover-password-button:not([disabled]) {
    cursor: pointer; 
    background-color: rgba(32, 65, 32);
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.entcad {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: 2rem 20px;
}

.entcad .botao1 {
    background-color: rgba(32, 65, 32, 0.6);
    color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}

.entcad .botao2 {
    background-color: rgba(32, 65, 32);
    color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
    margin-bottom: 20px;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}

.botao1:enabled {
    cursor: pointer;
    background-color: rgba(32, 65, 32);
    color: rgb(255, 255, 255); 
}

.botao1, .botao2, .botao3:hover {
    cursor: pointer;
}