.body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.formulario{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

#authForm{
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
    display: none;
}