body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-field{
    margin-top: 15px;
}

input,
button{
    padding: 10px;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.error{
    color: red;
    display: none;
}